@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Yekan Bakh";
  src: url("/fonts/YekanBakh-Hairline.woff2") format("woff2"),
    url("/fonts/YekanBakh-Hairline.woff") format("woff"),
    url("/fonts/YekanBakh-Hairline.ttf") format("truetype");
  font-weight: 100; /* Hairline */
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/fonts/YekanBakh-Thin.woff2") format("woff2"),
    url("/fonts/YekanBakh-Thin.woff") format("woff"),
    url("/fonts/YekanBakh-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/fonts/YekanBakh-Light.woff2") format("woff2"),
    url("/fonts/YekanBakh-Light.woff") format("woff"),
    url("/fonts/YekanBakh-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/fonts/YekanBakh-Regular.woff2") format("woff2"),
    url("/fonts/YekanBakh-Regular.woff") format("woff"),
    url("/fonts/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/fonts/YekanBakh-Medium.woff2") format("woff2"),
    url("/fonts/YekanBakh-Medium.woff") format("woff"),
    url("/fonts/YekanBakh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/fonts/YekanBakh-Bold.woff2") format("woff2"),
    url("/fonts/YekanBakh-Bold.woff") format("woff"),
    url("/fonts/YekanBakh-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Yekan Bakh", sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* .swiper {
  overflow: visible !important;
  overflow-x: hidden !important;
}

.swiper-wrapper {
  margin: 0 auto;
}

.swiper-slide {
  overflow: hidden !important;
  position: relative;
} */

/* استایل برای تصاویر */
.image-outside {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  object-fit: cover;
  z-index: 1;
}

@keyframes rotateBorder {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -100;
  }
}

.rotating-border {
  animation: rotateBorder 20s linear infinite;
}
