@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateBorder {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -100;
  }
}

.rotating-border {
  animation: rotateBorder 20s linear infinite;
}
